<div class="well well-head">
  <label class="control-label">Articles Manager</label>
  <div class="checkbox">
    <label>
      <input type="checkbox" ng-model="showMarketChecked" ng-click="showMarket()"> Show market news
    </label>
  </div>
  <P>
    <div class="input-group" ng-hide="hideFilter">
      <input type="text" class="form-control" id="tag-tickers" ng-model="filterTag" placeholder="Stock tickers" />
      <span class="input-group-btn">
        <button class="btn btn-default" type="button" ng-click="filter()">Filter</button>
      </span>
    </div>
  </P>
  <p>
    <button type="button" class="btn btn-primary" ng-model="isCreate" ng-init="isCreate=true" ng-click="open(true)">Create New Article</button>
  </p>
  <script type="text/ng-template" id="myModalContent.html">
    <div class="modal-header">
      <span ng-if="isCreate" class="size-label">
            <h3 class="modal-title">Create new article</h3>
            </span>
      <span ng-if="!isCreate" class="size-label">
            <h3 class="modal-title">Edit article</h3>
            </span>
    </div>
    <div class="modal-body">
      <form>
        <div>
          <p>Title</p>
          <p>
            <input type="text" class="form-control" ng-model="data.title" placeholder="insert title">
          </p>
          <p>Category</p>
          <p>
            <div class="btn-group" uib-dropdown keyboard-nav>
              <button id="article-category-dropdown" type="button" class="btn btn-default" uib-dropdown-toggle>
                {{selectedCategory}}<span class="caret"></span>
              </button>
              <ul class="dropdown-menu" uib-dropdown-menu role="menu" aria-labelledby="simple-btn-keyboard-nav">
                <li ng-repeat="choice in categories" ng-click="select(choice)">
                  <a href>{{choice}}</a>
                </li>
              </ul>
            </div>
          </p>
          <p>Image</p>
          <p>
            <input type="file" ngf-select ng-model="imgFile" name="file" />
          </p>
          <p>Description</p>
          <p>
            <input type="text" class="form-control" ng-model="data.description" placeholder="insert short description">
          </p>
          <p>Main content</p>
          <p>
            <wysiwyg textarea-id="question" textarea-class="form-control" textarea-height="180px" textarea-name="textareaQuestion" textarea-required ng-model="data.content" enable-bootstrap-title="true" textarea-menu="menu" disabled="disabled">
            </wysiwyg>
          </p>
          <p>Tag</p>
          <p>
            <tags-input ng-model="data.tag" placeholder="Add a ticker"></tags-input>
          </p>
        </div>
      </form>
    </div>
    <div class="modal-footer">
      <button class="btn btn-primary" type="button" ng-click="save()">Save</button>
      <button class="btn btn-warning" type="button" ng-click="cancel()">Cancel</button>
    </div>
  </script>
</div>
<div class="well">
  <div class="form-group">
    <style>
    table {
      table-layout: fixed;
    }
    
    table th,
    table td {
      overflow: hidden;
    }
    </style>
    <table class="table table-hover">
      <thead>
        <tr>
          <th style="width: 4%">
            <input ng-click="chkAll()" type="checkbox" ng-model="selectedAll" />
          </th>
          <th style="width: 23%">Title</th>
          <th style="width: 25%">Short Description</th>
          <th style="width: 15%">Category</th>
          <th style="width: 15%">Day</th>
          <th style="width: 8%">Tag</th>
          <th style="width: 20%">
          </th>
        </tr>
      </thead>
      <tbody>
        <tr class="active" ng-repeat="x in showArticlesList">
          <td>
            <input type="checkbox" ng-model="x.Selected" ng-click="checkState()" />
          </td>
          <td>{{x.title}}</td>
          <td>{{x.description}}</td>
          <td>{{x.category}}</td>
          <td>{{x.day}}</td>
          <td><span ng-repeat-start="y in x.tag" class="label label-primary">{{y}}</span> <span ng-repeat-end></span></td>
          <td>
            <a class="btn btn-default" type="button" ng-click="edit(x)">
              <span class="text-info"><i class="glyphicon glyphicon-edit" /> Edit</span>
            </a>
            <a class="btn btn-default" type="button" ng-click="delete(x._id)">
              <span class="text-danger"><i class="glyphicon glyphicon-trash" /> Delete</span>
            </a>
          </td>
        </tr>
      </tbody>
    </table>
    <button type="button" class="btn btn-default" ng-click="removeChecked()">Remove checked</button>
  </div>
</div>
