<div class="well well-head">
  <div class="form-group">
    <style>
    table {
      table-layout: fixed;
    }
    
    table th,
    table td {
      overflow: hidden;
    }
    </style>
    <table class="table table-hover">
      <thead>
        <tr>
          <th style="width: 15%">Name</th>
          <th style="width: 15%">Email</th>
          <th style="width: 15%">Phone Number</th>
          <th style="width: 15%">Shop Name</th>
          <th style="width: 15%">Product</th>
          <th style="width: 15%">Sales channel</th>
          <th style="width: 20%">Reason</th>
        </tr>
      </thead>
      <tbody>
        <tr class="active" ng-repeat="customer in customers">
          <td>{{customer.name}}</td>
          <td>{{customer.email}}</td>
          <td>{{customer.phone}}</td>
          <td>{{customer.shop}}</td>
          <td>{{customer.product}}</td>
          <td>{{customer.channel}}</td>
          <td>{{customer.reason}}</td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
