<!-- Main Content -->
<div class="container body">
  <div class="right_col" role="main">
    <div class="row tile_count">
      <!-- <div class="animated flipInY col-md-3 col-sm-4 col-xs-4" style="margin-top: -21px; margin-bottom: 25px;"> -->
      <div class="animated flipInY col-md-3 col-sm-4 col-xs-4 tile_stats_count">
        <div class="left"></div>
        <div class="right">
          <div>
            <span class="count">{{ item.signal.ticker }}</span>
            <span class="count_top market_exchange">(HOSE)</span>
          </div>
          <span class="count_top">Company Name - rat la dai</span>
          <!-- <span class="count_bottom"><i class="green">Company Name - rat la dai</i> From last Week</span> -->
        </div>
      </div>
      <div class="animated flipInY col-md-3 col-sm-4 col-xs-4 tile_stats_count">
        <div class="left"></div>
        <div class="right">
          <!-- <span class="count_top"><i class="fa fa-clock-o"></i> Average Time</span> -->
          <div ng-if="priceChangeState == 'up'">
            <span class="count text-success">{{ (item.signal.price).toFixed(1) }} <i class="fa fa-arrow-up"> </i> </span> <span class="count_bottom text-success"> {{((item.signal.priceChange)*100).toFixed(2)}} % </i></span>
          </div>
          <div ng-if="priceChangeState == 'equal'">
            <span class="count text-equal">{{ (item.signal.price).toFixed(1) }} <i class="fa fa-minus"> </i> </span> <span class="count_bottom text-equal"> {{((item.signal.priceChange)*100).toFixed(2)}} % </i></span>
          </div>
          <div ng-if="priceChangeState == 'down'">
            <span class="count text-danger">{{ (item.signal.price).toFixed(1) }} <i class="fa fa-arrow-down"> </i> </span> <span class="count_bottom text-danger"> {{((item.signal.priceChange)*100).toFixed(2)}} % </i></span>
          </div>
          <!-- <div ng-if="priceChangeState == 'down'" class="count text-danger">{{ (item.signal.price).toFixed(1) }} <i class="fa fa-arrow-down"></i>
          </div>
          <div ng-if="priceChangeState == 'equal'" class="count text-equal">{{ (item.signal.price).toFixed(1) }} <i class="fa fa-minus"></i>
          </div>
          <div ng-if="priceChangeState == 'down'" class="count_bottom text-danger">Change: <i class="blue"><i class="fa fa-caret-down"></i> {{((item.signal.priceChange)*100).toFixed(2)}} % </i></div>
          <div ng-if="priceChangeState == 'equal'" class="count_bottom text-equal">Change: <i class="blue"><i class="fa fa-minus"></i> {{((item.signal.priceChange)*100).toFixed(2)}} % </i></div>
          <span class="count_bottom">Volume: <i class="green"> {{item.signal.volume | number : fractionSize}} </i></span> -->
          <span class="count_bottom">Volume: <i class="green"> {{item.signal.volume | number : fractionSize}} </i></span>
          <!--           <span ng-if="priceChangeState == 'up'" class="count_bottom text-success">Change <i class="blue"><i class="fa fa-caret-up"></i> {{((item.signal.priceChange)*100).toFixed(2)}} % </i></span> -->
        </div>
      </div>
      <div class="animated flipInY col-md-3 col-sm-4 col-xs-4 tile_stats_count">
        <div class="left"></div>
        <div class="right">
          <!-- <span class="count_top"><i class="fa fa-clock-o"></i> Average Time</span> -->
          <span class="count_bottom">Change <i class="green"><i class="fa fa-sort-asc"></i>3% </i></span>
          <span class="count_bottom">Volume <i class="green"><i class="fa fa-sort-asc"></i>100,000 </i></span>
          <div>
            <rangechart width="200" height="7" open="lastEod.open" high="lastEod.high" low="lastEod.low" close="lastEod.close" color="#333"></rangechart>
          </div>
          <span class="count_bottom" align="left">Change <i class="green"><i class="fa fa-sort-asc"></i>3% </i></span>
          <span class="count_bottom" align="right">Volume <i class="green"><i class="fa fa-sort-asc"></i>100,000 </i></span>
          <div>
            <rangechart width="200" height="7" open="o" high="h" low="l" close="c" color="#333"></rangechart>
          </div>
        </div>
      </div>
      <div class="animated flipInY col-md-3 col-sm-4 col-xs-4 tile_stats_count">
        <div class="left"></div>
        <div class="right">
          <!-- <span class="count_top"><i class="fa fa-user"></i> Company Name - rat la dai</span> -->
          <div class="count">UP </div>
          <!-- <div class="animated flipInY col-md-6 tile_stats_count"> -->
          <div class="count_bottom">last suggestion: BUY</div>
          <div class="count_bottom">in day: 12/02/2016</div>
          <div class="count_bottom">at price: 15.0</div>
          <!-- </div> -->
          <!-- <div class="animated flipInY col-md-6 tile_stats_count"> -->
          <!--             <div class="row text-right"> BUY</div>
            <div class="row text-right"> 12/02/2016</div>
            <div class="row text-right"> 15.0</div> -->
          <!-- </div> -->
          <!-- <span class="count_top">Company Name - rat la dai</span> -->
          <!-- <span class="count_bottom"><i class="green">Company Name - rat la dai</i> From last Week</span> -->
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-8">
        <div class="panel panel-default">
          <div class="panel-heading">
            <img class="single-featured wp-post-image" width="725" height="300" alt="Unsplash SLR camera" src="img/demo.jpg">
          </div>
          <h1> {{articleDetail.title}}</h1>
          <div class="panel-body">
            <p class="excerpt" ng-bind-html="articleDetail.content">
            </p>
          </div>
        </div>
      </div>
      <div class="col-md-4">
        <div class="panel panel-default">
          <div class="panel-heading">
            <strong><i class="glyphicon glyphicon-comment"></i> News</strong>
          </div>
          <div class="panel-body">
            <div class="x_content">
              <div ng-repeat="x in articles">
                <ul class="list-unstyled timeline">
                  <li>
                    <div class="block">
                      <div class="block_content">
                        <h3 class="title">
                            <a>{{x.title}}</a>
                        </h3>
                        <div class="byline">
                          <span>{{x.day}}</span> by <a>Duong NB</a>
                        </div>
                      </div>
                    </div>
                  </li>
                </ul>
              </div>
            </div>
          </div>
          <div class="panel panel-default">
            <div ng-if="pluginOn" onrender="rendered()" class="fb-comments" data-href="http://example.com/comments" data-numposts="5" data-colorscheme="light"></div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
