<!-- Main Content -->
<div class="container body">
  <div class="row banner">
    <!--     <div class="col-md-8">
      <img class="row img-banner-1" src="img/top.png">
      <img class="row img-banner-2" src="img/button.png">
    </div>
    <div class="col-md-4">
      <img class="row img-banner-3" src="img/p10.png">
    </div> -->
    <img class="row img-banner-1" src="img/topimg.png">
    <img class="row img-banner-2" src="img/button.png">
  </div>
  <div class="devider"></div>
  <div class="row main-head">
    <div class="row header-main-head">BẠN LÀ NGƯỜI KHỞI NGHIỆP, CÁ NHÂN BÁN HÀNG ONLINE ?</div>
    <div class="row">
      <div class="col-xs-3">
        <div class="row">
          <img class="img-main-head" src="img/p1.png">
        </div>
        <div class="row">
          <img class="img-main-head" src="img/p3.png">
        </div>
      </div>
      <div class="col-xs-5">
        <div class="row main-head-first">Bạn muốn mở rộng bán hàng nhưng không thể thoát khỏi công việc tiếp nhận đơn hàng?</div>
        <div class="row main-head-second">Bạn gặp khó khăn khi tuyển dụng nhân viên tiếp nhận và xử lý đơn hàng ?</div>
        <div class="row main-head-third">Bạn phải tiêu tốn thời gian quý báu để dạy dỗ nhân viên bán hàng và chăm sóc cho khách ?</div>
        <div class="row main-head-fourth">Bạn ngẩn ngơ khi nhân viên thạo việc ra đi, bỏ lại bạn với núi công việc tiếp nhận và xử lý đơn hàng ?</div>
      </div>
      <div class="col-xs-3">
        <div class="row">
          <img class="img-main-head" src="img/p2.png">
        </div>
        <div class="row">
          <img class="img-main-head" src="img/p4.png">
        </div>
      </div>
    </div>
    <div class="row main-head-end">Và 1001 khó khăn liên quan đến công việc tiếp nhận đơn hàng online khiến cho công việc kinh doanh của bạn chỉ dậm chân tại chỗ
    </div>
    <div class="row header-main-head">HÃY THỬ NGHIỆM: DỊCH VỤ TIẾP NHẬN ĐƠN HÀNG ONLINE</div>
    <div class="row">
      <img class="img-intro-head" src="img/p5.png">
    </div>
    <div class="intro-main">Giải pháp tiếp nhận đơn hàng online được thiết kế bởi Tập đoàn Hoa Sao - công ty cung cấp dịch vụ tổng đài hàng đầu tại Việt Nam. Đây là giải pháp dành riêng cho các start up và cá nhân bán hàng, giúp giải quyết triệt để khó khăn trong việc tiếp nhận và xử lý đơn hàng với chi phí siêu tiết kiệm</div>
    <div class="row">
      <img class="img-intro-main" src="img/girl.jpg">
    </div>
    <div class="row">
      <img class="img-benefit-head" src="img/p6.png">
    </div>
    <div class="header-benefit">Mô hình tiếp nhận đơn hàng online mang lại lợi ích gì cho bạn ?</div>
    <div class="row">
      <div class="col-md-6">Tập trung 100% nguồn lực để mở rộng kinh doanh
      </div>
      <div class="col-md-6">Nhận báo cáo kết quả theo dõi (tuần/tháng/quý/năm)
      </div>
    </div>
    <div class="row">
      <div class="col-md-6">Không lo lắng về khó khăn khi tìm người
      </div>
      <div class="col-md-6">Quản lý thông tin chuyên nghiệp, đồng bộ bằng hệ thống
      </div>
    </div>
    <div class="row">
      <div class="col-md-6">Không băn khoăn về lương và chế độ cho nhân viên
      </div>
      <div class="col-md-6">Nhận báo cáo chi tiết lịch sử mua sắm của khách hàng
      </div>
    </div>
    <div class="row">
      <div class="col-md-6">Không mất thời gian đào tạo nhân sự
      </div>
      <div class="col-md-6">Được tư vấn miễn phí để tổ chức hoạt động CSKH chuyên nghiệp
      </div>
    </div>
    <div class="row">
      <div class="col-md-6">Không mất thời gian lưu thông tin và tương tác khách hàng
      </div>
      <div class="col-md-6">Được chuyên gia tư vấn để phát triển Dịch vụ khách hàng
      </div>
    </div>
    <div class="row"></div>
    <div class="row logo-show">
      <div class="col-md-2 brand-logo"><img src=""></div>
      <div class="col-md-2 brand-logo"><img src=""></div>
      <div class="col-md-2 brand-logo"><img src=""></div>
      <div class="col-md-2 brand-logo"><img src=""></div>
    </div>
    <div class="row"></div>
    <div class="row"></div>
    <div class="row">
      <img class="img-reason-head" src="img/p7.png">
    </div>
    <div class="header-reason">Dịch vụ tiếp nhận đơn hàng online được thực hiện bởi tập đoàn Hoa Sao</div>
  </div>
  <div class="row register-form">
    <div class="row register-form-head">
      <div class="row">
        <img class="img-register-form" src="img/p9.png"></img>
      </div>
    </div>
    <div class="row">
      <div class="col-md-4">
        <div class="group">
          <input type="text" required ng-model='customer.name'>
          <span class="highlight"></span>
          <span class="bar"></span>
          <label>Ho ten:</label>
        </div>
      </div>
      <div class="col-md-4">
        <div class="group">
          <input type="text" required ng-model='customer.email'>
          <span class="highlight"></span>
          <span class="bar"></span>
          <label>Email:</label>
        </div>
      </div>
      <div class="col-md-4">
        <div class="group">
          <input type="text" required ng-model='customer.phone'>
          <span class="highlight"></span>
          <span class="bar"></span>
          <label>Di dong:</label>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-4">
        <div class="group">
          <input type="text" required ng-model='customer.shop'>
          <span class="highlight"></span>
          <span class="bar"></span>
          <label>Ten Shop:</label>
        </div>
      </div>
      <div class="col-md-4">
        <div class="group">
          <input type="text" required ng-model='customer.product'>
          <span class="highlight"></span>
          <span class="bar"></span>
          <label>San pham kinh doanh:</label>
        </div>
      </div>
      <div class="col-md-4">
      </div>
    </div>
    <div class="row">
      <div class="col-md-4">
        <md-input-container class="md-block">
          <h4>Kenh ban hang chinh ?</h4>
          <md-select ng-model="customer.channel">
            <md-option ng-repeat="state in channels" value="{{state}}">
              {{state}}
            </md-option>
          </md-select>
        </md-input-container>
      </div>
      <div class="col-md-4">
        <md-input-container class="md-block">
          <h4>Ban biet chung toi qua kenh nao ?</h4>
          <md-select ng-model="customer.reason">
            <md-option ng-repeat="state in reasons" value="{{state}}">
              {{state}}
            </md-option>
          </md-select>
        </md-input-container>
      </div>
      <div class="col-md-4">
        <md-button class="md-raised md-primary" ng-click="register()">Dang ky</md-button>
      </div>
    </div>
  </div>
</div>
