#navigation,
.navbar .navbar-inverse .navbar-fixed-top .navbar-custom {
  background-image: url("../img/navbar.png");
  background-repeat: no-repeat;
  min-height: 100%;
  padding-right: 100px;
}

.navbar-collapse {
  border-bottom: solid 1px #222222;
  overflow: hidden;
}

.well.well-head {
  margin-top: 70px !important;
}

.navbar-right {
  margin-top: 20px;
  font-size: 24px;
  min-height: 100px;
  overflow: auto;
}


/************************************
**  CSS For input material design  **
************************************/

.group {
  position: relative;
  margin-bottom: 45px;
}

input {
  font-size: 18px;
  padding: 10px 10px 10px 5px;
  display: block;
  width: 300px;
  border: none;
  border-bottom: 1px solid #757575;
}

input:focus {
  outline: none;
}


/* LABEL ======================================= */

label {
  color: #999;
  font-size: 18px;
  font-weight: normal;
  position: absolute;
  pointer-events: none;
  left: 5px;
  top: 10px;
  transition: 0.2s ease all;
  -moz-transition: 0.2s ease all;
  -webkit-transition: 0.2s ease all;
}


/* active state */

input:focus ~ label,
input:valid ~ label {
  top: -20px;
  font-size: 14px;
  color: #5264AE;
}


/* BOTTOM BARS ================================= */

.bar {
  position: relative;
  display: block;
  width: 300px;
}

.bar:before,
.bar:after {
  content: '';
  height: 2px;
  width: 0;
  bottom: 1px;
  position: absolute;
  background: #5264AE;
  transition: 0.2s ease all;
  -moz-transition: 0.2s ease all;
  -webkit-transition: 0.2s ease all;
}

.bar:before {
  left: 50%;
}

.bar:after {
  right: 50%;
}


/* active state */

input:focus ~ .bar:before,
input:focus ~ .bar:after {
  width: 50%;
}


/* HIGHLIGHTER ================================== */

.highlight {
  position: absolute;
  height: 60%;
  width: 100px;
  top: 25%;
  left: 0;
  pointer-events: none;
  opacity: 0.5;
}


/* active state */

input:focus ~ .highlight {
  -webkit-animation: inputHighlighter 0.3s ease;
  -moz-animation: inputHighlighter 0.3s ease;
  animation: inputHighlighter 0.3s ease;
}


/* ANIMATIONS ================ */

@-webkit-keyframes inputHighlighter {
  from {
    background: #5264AE;
  }
  to {
    width: 0;
    background: transparent;
  }
}

@-moz-keyframes inputHighlighter {
  from {
    background: #5264AE;
  }
  to {
    width: 0;
    background: transparent;
  }
}

@keyframes inputHighlighter {
  from {
    background: #5264AE;
  }
  to {
    width: 0;
    background: transparent;
  }
}


/******************
** CSS for body  **
******************/

.md-block {
  padding-right: 60px;
  margin-top: 0px !important;
  margin-bottom: 0px !important;
}

h4 {
  margin-top: 0px !important;
  margin-bottom: 0px !important;
  color: #9999a2;
}

.container.body {
  margin-top: 120px;
}

.row.banner {
  margin-top: 30px;
}

.img-banner-1 {
  max-width: 100%;
  max-height: 100%;
}

.img-banner-2 {
  margin-top: 30px;
  max-width: 15%;
  max-height: 30%;
  position: absolute;
  left: 660px;
  top: 180px;
}

.img-banner-3 {
  max-width: 100%;
  max-height: 100%;
}

.img-banner {
  max-width: 100%;
  max-height: 100%;
  position: relative;
}

.img-button-consult {
  max-width: 50%;
  max-height: 50%;
  position: absolute;
}

.devider {
  background-color: #4485f5;
  margin-top: 30px;
  min-height: 20px;
}

.header-main-head {
  padding-top: 25px;
  text-align: center;
  font-size: 32px;
  font-weight: bolder;
  color: #f26522;
}

.img-main-head {
  max-width: 200px;
  max-height: auto;
}

.main-head-first,
.main-head-second,
.main-head-third,
.main-head-fourth {}

.main-head-end {}

.img-intro-head {
  max-width: 30%;
  display: block;
  margin: auto auto;
}

.intro-main {}

.img-benefit-head {
  max-width: 30%;
  display: block;
  margin: auto auto;
}

.img-register-form {
  max-width: 30%;
  display: block;
  margin: auto auto;
}

.header-benefit {
  font-size: 32px;
  text-align: center;
  color: #0f75bc;
}

.img-reason-head {
  max-width: 30%;
  display: block;
  margin: auto auto;
}

.header-reason {
  font-size: 32px;
  text-align: center;
  color: #0f75bc;
}
